![Image](a7.png "KATSKY Studio")

# **PYTHON**
## **Data Types**

In this notebook, we will get started with python's data types :
* **Lists**
* **Tuples**
* **Strings**
* **Sets**
* **Dictionaries**
  And we will finish up with 5 exercices to practice what we've learnt.

### **Lists**
- Ordered sequence of items
- Store many types
- Most used
- 0 based index
  #### *Syntax*
  list=[3, 5, "Abdessamad", 6.9, 2+9j]

In [3]:
#Example
list = [23, "Bob", 7.9]
#Type of list?
print(type(list)) #Google python type function
#Print Bob
print(list[1]) #Google 0 based index!

<class 'list'>
Bob

##### **Range of items**

In [4]:
#Declare another list
mix = [45, 7, 'Python', 8+7j, "Apple", 8]
#We want items in range 2
print(mix[0:2]) #The last index is bounded
#By default it start from 0, but if we want all items starting from 2
print(mix[2:])

[45, 7]
['Python', (8+7j), 'Apple', 8]

##### **Mutable**

In [5]:
print(mix[1])
mix[1]="Sara" #You can change index value
print(mix[1])

7
Sara

### **Tuples**

* **Ordered sequence**
* **Immutable**
* **Protect Data**
* **Faster than Lists**
* **0 based index**
*Syntax*
tuple = (10, "app", 2.8)

In [7]:
tuple = (67, "immutable", 7.8)
#Get item by index
print(tuple[2])
#Range
print(tuple[:1])

7.8
(67,)

##### **Immutable**

In [8]:
#If we try now to change an item's value, we'll get an error
tuple[1]=8
print(tuple[1]) #Google why tuples are faster than lists?

TypeError: 'tuple' object does not support item assignment

#### **String**

**One line => ' ' or " "**

**Multiple lines => ''' '''**

In [9]:
str = "Hi, how's going" #One line
str1 = '''Hi,
I'm
Learning''' #Multiple lines
print(str)
print(str1)

Hi, how's going
Hi,
I'm
Learning

##### **Strings are immutable too!!!**

#### **Sets**
* **Unordered**
* **Eliminates duplicates**
* **We get different arrange of sets every time we use it**
* **Becaus of this last one, sets don't support index, so you can't get a set item by its index**
* **Set items are unchangeable, but you can remove items and add new items**
*Syntax*
set = {12, 7, 89, "banana"}

#### **Dictionaries**
* **Unoredered Collection**
* **Used when we have a huge amount of data, it's optimized for retrieving data**
* **Each item, has a *key* and a *value*, and they can be any type of data**

##### *Syntax*
d = {name : "Bob", age : 43}

In [13]:
d = {"Model":"Mercedes", "Color":"Black", "Price":114000}
print(d)
#Key can be any type of data
d1 = {1 : "First item with int key", "second" : "Second item with string key"}
print(d1[1])
print(d1["second"])

{'Model': 'Mercedes', 'Color': 'Black', 'Price': 114000}
First item with int key
Second item with string key

## Practice
### Exercice 1:
* Write a Python program that calculates the sum of all even numbers from 1 to 100.
### Exercice 2:
* Create a list of your favorite fruits. Then, write code to print out the first and last fruit in the list.
### Exercice 3:
* Given a string, write a program that counts the number of vowels (a, e, i, o, u) in the string. Ignore case sensitivity.
### Exercice 4:
* Create two sets, one representing students who passed an exam (e.g., {'Alice', 'Bob', 'Charlie'}) and another representing students who passed a project (e.g., {'Charlie', 'David', 'Eve'}). Write Python code to find the students who both passed the exam and the project.
### Exercice 5:
* Create a dictionary that represents a simple inventory of products and their prices (e.g., {'apple': 0.5, 'banana': 0.25, 'orange': 0.75}). Write a program that takes a user's input for a product and quantity and calculates the total cost.
## You can follow this link to get some help and guide for solutions!
[Guide](https://swamp-citrine-015.notion.site/Data-Types-fcdfc36721d34e7eb9a0f4d32cc1f4f4)

# **Author**
### **TOUZANI Abdessamad**
### *KEEP IT REAL*